@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block px-4 py-2.5 text-sm sm:text-base capitalize text-white font-semibold rounded-2xl shadow-lg bg-purple 
    hover:opacity-90 hover:-translate-y-0.5 transform transition
    focus:outline-none focus:ring focus:ring-offset-2 focus:ring-opacity-50
    
  }

  .btn-primary {
    @apply  text-white  bg-purple  focus:ring-purple 
    focus:ring-opacity-50 active:bg-indigo-800;
  }

  .btn-secondary {
    @apply text-purple bg-gray-300
     focus:ring-gray-300 focus:ring-opacity-50
    active:bg-gray-400;
  }
}
